* {
  outline: transparent;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button,
input,
textarea {
  font: inherit inherit;
  border: none;
  background: inherit;
}

button {
  cursor: pointer;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

._imgFit {
  position: relative;
}

._imgFit img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: var(--fitType);
  object-fit: var(--fitType);
}

body ::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: .5rem;
  background: #f2f2f2;
}

body ::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  width: .4rem;
  border: .1rem solid #f2f2f2;
  background: #a8a8a8;
}

@font-face {
  font-family: Calibri;
  font-display: swap;
  src: url(../fonts/Calibri-Bold.woff2) format("woff2"),url(../fonts/Calibri-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Calibri;
  font-display: swap;
  src: url(../fonts/Calibri.woff2) format("woff2"),url(../fonts/Calibri.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding,201px);
}

body {
  font: 400 16px Calibri,sans-serif;
  position: relative;
  color: #111;
}

body._lock,
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

._page {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

[class*=__container] {
  --max-width: 1213px;
  --padding: 20px;
  width: min(100% - var(--padding),var(--max-width));
  margin-inline: auto;
}

[class*=__container][data-type=trust] {
  --max-width: 1011px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 17px;
}

@media (max-width:600px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin-bottom: 35px;
  background: url(../images/bg4.png) center/cover no-repeat;
  padding-top: 84px;
}

@media (max-width:520px) {
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.main__left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 23px;
}

.main__left span {
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 1.92px;
  color: #00172c;
}

@media (max-width:768px) {
  .main__inner {
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    padding-top: 50px;
  }

  .main__left span {
    font-size: 25px;
  }

  .main__left {
    width: 35%;
  }
}

@media (max-width:520px) {
  .main__left span {
    font-size: 20px;
  }

  .main__left {
    width: 100%;
    row-gap: 15px;
  }
}

.main__picture {
  max-width: 389px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 70px -23px rgba(0,0,0,.35);
  box-shadow: 0 0 70px -23px rgba(0,0,0,.35);
}

.main__picture img {
  display: block;
  max-width: 100%;
  border-radius: inherit;
}

.main__right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}

@media (max-width:768px) {
  .main__right {
    width: 65%;
  }

  .main__title span img {
    width: 70%;
  }
}

.main__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  color: #00172c;
}

.main__title span img {
  vertical-align: middle;
}

@media (max-width:768px) {
  .main__title {
    font-size: 50px;
    line-height: 60px;
  }
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}

.main__item {
  position: relative;
  padding-left: 35px;
}

.main__item span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #00172c;
}

@media (max-width:768px) {
  .main__list {
    row-gap: 15px;
  }

  .main__item span {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width:520px) {
  .main__right {
    width: 100%;
  }

  .main__title span img {
    width: 50%;
  }

  .main__title span:nth-of-type(2) {
    display: inline;
  }

  .main__title {
    font-size: 35px;
    line-height: 50px;
  }

  .main__item span {
    font-size: 20px;
  }
}

.main__item:before {
  position: absolute;
  content: "";
  top: 0;
  left: 10px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin-block: auto;
  z-index: 0;
}

.main__slider {
  position: relative;
  padding: 0 20px;
}

@media (min-width:1230px) {
  .main__slider {
    width: 80%;
  }
}

@media (max-width:768px) {
  .main__slider {
    padding: 0;
  }
}

.main__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  padding: 0 30px;
}

.main__social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 20px;
}

.main__social li a span {
  color: #00172c;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.2px;
  white-space: nowrap;
}

@media (max-width:520px) {
  .main__social {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    padding: 0;
  }

  .main__social li {
    padding: 0 10px;
  }

  .main__social li a span {
    white-space: normal;
    text-align: center;
  }
}

.main__social li a img {
  width: 89px;
  height: 89px;
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 0 22px 44px -12px rgba(0,0,0,.35);
  box-shadow: 0 22px 44px -12px rgba(0,0,0,.35);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(../images/bg2.png) center/cover no-repeat;
  padding: 80px 0 52px;
}

.main__footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.main__link {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 1.92px;
  border-radius: 10px;
  color: #00172c;
  background: 0 0;
  padding: 30px 10px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

@media (max-width:520px) {
  .main__footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__link {
    padding: 15px 10px;
  }
}

.main__link_tel {
  color: #fff;
  background: #03457f;
}

@media (any-hover:hover) {
  .main__social li a:hover img {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .main__link:hover {
    -webkit-box-shadow: 0 22px 44px -12px rgba(31,146,67,.36);
    box-shadow: 0 22px 44px -12px rgba(31,146,67,.36);
    color: #fff;
    background: #03457f;
  }

  .main__link_tel:hover {
    -webkit-box-shadow: 0 22px 44px -12px rgba(31,146,67,.36);
    box-shadow: 0 22px 44px -12px rgba(31,146,67,.36);
    color: #000;
    background: 0 0;
  }
}

.swiper-horizontal {
  width: 85%;
}

.swiper-slide__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-prev:after {
  background: url(../images/left.png) center no-repeat;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-next:after {
  background: url(../images/right.png) center no-repeat;
}

@media (max-width:768px) {
  .main__social li a img {
    width: 60px;
    height: 60px;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=maps/index.css.map */
/*# sourceMappingURL=index.css.map */
